[submodule "llama.cpp"]
	path = llama.cpp
	url = https://github.com/ggml-org/llama.cpp
[submodule "whisper.cpp"]
	path = whisper.cpp
	url = https://github.com/ggml-org/whisper.cpp
[submodule "stable-diffusion.cpp"]
	path = stable-diffusion.cpp
	url = https://github.com/leejet/stable-diffusion.cpp
